@import '../../../../SASS/reset';
@import '../../../../SASS/variables';
@import '../../../../SASS/mixins';
@import '../../../../SASS/animations';

.hero{
  background-color: $secondary;
  color: black;
  height: auto;
  padding: 2rem;
  
  width: 100%;
  .hero-top{
    p{
      text-align: center;
      font-size: 3rem;
      font-weight: bolder;
      color: red;
    }
  }

  .hero-bottom{


    margin-top: 2rem;
    font-size: 2.2rem;
    text-align: center;
    line-height: 3.2rem;
  
  }
  h1{
    font-size: 8rem;
    font-weight: 700;
    color: $dark;
    text-align: center;
  }
}
     