@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,400;0,700;1,300;1,400&family=Source+Sans+3:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Asap", sans-serif;
  height: 100vh;
  background-color: #f2f2f2;
  color: #434343;
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue", cursive;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* CSS */
@keyframes flip-in-hor-top {
  0% {
    transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.product-card {
  width: 30rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
  margin: 1rem 2rem;
  height: auto;
  border-radius: 30px;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1B5599;
  color: #190E1C;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0 5px 0 0;
  z-index: 150;
}

.product-thumb {
  display: flex;
  justify-content: center;
  width: 30rem;
  align-items: center;
  height: 25rem;
  background-color: #fff;
  overflow: hidden;
  border-radius: 30px 30px 0 0;
}
.product-thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.product-thumb img:hover {
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.product-details {
  padding: 1rem;
  overflow: hidden;
}
.product-details h4 a {
  color: #1B5599;
  display: block;
  font-weight: 500;
  margin-bottom: 1.8rem;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoutez cette ligne pour les trois petits points */
  white-space: nowrap; /* Ajoutez cette ligne pour empêcher le texte de se replier à la ligne */
}
.product-details h4 a:hover {
  color: #E2E035;
}
.product-details .card-p {
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
  line-height: 2.2rem;
  height: 6.7rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limite à 3 lignes */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Ajoutez cette ligne pour les trois petits points */
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #e6e6e6;
  padding: 1rem 0.3rem;
  display: flex;
  background-color: rgb(154, 154, 189);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 30px 30px;
}

.product-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30rem;
}
.product-links button, .product-links a {
  height: 3rem;
  width: 3rem;
  background-color: #1B5599;
  margin: 0 1rem 1rem 0;
  text-align: center;
  line-height: 4rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.product-links button svg, .product-links a svg {
  font-size: 1.6rem;
}
.product-links button:hover, .product-links a:hover {
  background-color: #E2E035;
  transition: all 0.5s ease-in-out;
}

.out-of-stock {
  position: absolute;
  top: 15rem;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #bf3636;
  color: white;
  font-weight: bolder;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.product-price {
  font-size: 1.8rem;
  position: relative;
  color: #1B5599;
  font-weight: 700;
  margin-bottom: 1.8rem;
  margin-right: 0.5rem;
}
.product-price small {
  font-size: 60%;
  bottom: 1rem;
  position: absolute;
  color: #1B5599;
}

.product-category {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1B5599;
  margin-bottom: 1.8rem;
  text-transform: uppercase;
}/*# sourceMappingURL=productCard.css.map */