@import '../../../../SASS/reset';
@import '../../../../SASS/variables';
@import '../../../../SASS/mixins';
@import '../../../../SASS/animations';


.home-contact{
    background-color: $dark;
    p{

        color: white;
    }
 
    padding: 3rem;
    .mail{
        margin-top: 2rem;
        font-size: 2.5rem;
    }
}