// ______________ colors ______________ 


$dark : #434343;

$white: #F2F2F2;


$danger: #bf3636;
$warning: #bf8436;
$green: #36bf68;





// /* Color Theme Swatches in Hex */
$primary: #E9921E;
$dark: #190E1C;
$grey: #4F494B;
$greyLight: #938374;

$secondary: #C1897A;



// /* Color Theme Swatches in Hex */
// $primary: #3671BF;
// $primary-dark: #27538C;
// $secondary: #A9D943;
// $secondary-dark: #799c2e;







// Responsive
$bigPhone: 40.5rem;
$tablet: 76.8rem;
$desktop: 120rem;






// shadow
$shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;


// radius
$radius: 5px;